@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


html,body {
  /* background-image: url("/space.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top; */
  color: var(--foreground);
 
  overflow-x: hidden;

}

.article p,figure {
  margin-bottom: 0.8rem;
}

a, button, input, label {
  -webkit-tap-highlight-color: rgba(0,0,0,0.1); /* легкий эффект при касании */
  touch-action: manipulation; /* чтобы избежать задержек */
}

button, a, .clickable {
  transition: all 0.2s ease;
}

button:active,
a:active,
.clickable:active {
  transform: scale(0.97);
  opacity: 0.8;
}

@layer base {
  html {
   
    background: radial-gradient(ellipse at bottom, #2b3948 0%, #171b2c 100%);
  }
}

@layer utilities {
  .star-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    background: transparent;
    animation: animStar 50s linear infinite;
    will-change: transform;
    z-index: -1;
  }

  .star-layer.medium {
    width: 2px;
    height: 2px;
    animation-duration: 100s;
  }

  .star-layer.large {
    width: 3px;
    height: 3px;
    animation-duration: 150s;
  }

  .star-layer::after {
    content: '';
    position: absolute;
    top: 2000px;
    width: inherit;
    height: inherit;
    background: transparent;
    box-shadow: inherit;
  }

  @keyframes animStar {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-2000px);
    }
  }
}

/* CSS */
.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 16px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 8px 14px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 8px 18px;
  }
}